<div mat-dialog-title>Camion</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-label>Marca</mat-label>
          <input type="text" formControlName="marca" matInput>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Patente</mat-label>
          <input type="text" formControlName="patente" matInput>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Capacidad</mat-label>
        <input type="text" formControlName="capacidad" matInput>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">Agregar Camion</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Actualizar Camion</button>
  </mat-dialog-actions>
</form>
