<div mat-dialog-title>Customer</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-label>Nombre</mat-label>
          <input type="text" formControlName="nombreUsuario" matInput>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Apellido</mat-label>
          <input type="text" formControlName="apellido" matInput>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Correo</mat-label>
        <input type="text" formControlName="correo" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Telefono</mat-label>
        <input type="text" formControlName="telefono" matInput>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">Agregar Usuario</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Actualizar Usuario</button>
  </mat-dialog-actions>
</form>
